<section>
  <div class="page-header">
    <h1>Sayfalars</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="sayfalar in vm.sayfalars"
       ui-sref="sayfalars.view({ sayfalarId: sayfalar._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="sayfalar.created | date:'mediumDate'"></span>
        by
        <span ng-if="sayfalar.user" ng-bind="sayfalar.user.displayName"></span>
        <span ng-if="!sayfalar.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="sayfalar.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.sayfalars.$resolved && !vm.sayfalars.length">
    No Sayfalars yet, why don't you <a ui-sref="sayfalars.create">create one</a>?
  </div>
</section>
