<div class="container" ng-controller="HeaderController">
  <a class="pull-left logo" href="/"><img src="modules/core/client/img/images/logo.png" alt="Logo"></a>
  <div id="topbar">
      <div class="navigation">
        <button class="navbar-toggle" type="button" ng-click="toggleCollapsibleMenu()">
          <i class="zmdi zmdi-menu zmdi-hc-lg"></i>
        </button>
      </div>

    <nav class="collapse navbar-collapse" style="margin-top: -25px;" collapse="!isCollapsed" role="navigation">
      <ul class="nav navbar-nav" ng-if="menu.shouldRender(authentication.user);">

        <!--<li ng-repeat="item in menu.items | orderBy: 'position'" ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}}" dropdown="item.type === 'dropdown'">-->

          <!--<a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>-->
          <!--<ul ng-switch-when="dropdown" class="dropdown-menu">-->
            <!--<li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(authentication.user);" ui-sref-active="active">-->
              <!--<a ui-sref="{{subitem.state}}" ng-bind="subitem.title"></a>-->
            <!--</li>-->
          <!--</ul>-->
          <!--<a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>-->

        <!--</li>-->
        <!--<>>>>>>>>>>>>>>>>>>>>>>>>>-->
        <li uib-dropdown
            is-open="status.isopen"
            ng-repeat="item in menu.items | orderBy: 'position'"
            ng-if="item.shouldRender(authentication.user);"
            ng-switch="item.type"
            ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }"
            class="{{item.class}}"
            dropdown="item.type === 'dropdown'">
          <a  type="button"  uib-dropdown-toggle ng-switch-when="dropdown" class="dropdown-toggle">
            {{::item.title}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" >
            <li role="menuitem" ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(authentication.user);" >
              <a ui-sref="{{subitem.state}}" ng-bind="subitem.title"></a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-right">
        <li class="search" style="margin: 0px 15px;">
          <a ui-sref="search" class="search s-icon"><i class="zmdi zmdi-search zmdi-hc-lg"></i></a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" ng-hide="authentication.user">
        <li ui-sref-active="active">
            <a ui-sref="authentication.signup">Kaydol</a>
        </li>
        <li class="divider-vertical"></li>
        <li ui-sref-active="active">
            <a ui-sref="authentication.signin">Oturum Aç</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
        <li class="dropdown" uib-dropdown dropdown-append-to-body>


          <a id="btn-append-to-body" type="button" class="dropdown-toggle" uib-dropdown-toggle>
            <span ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
          </a>

          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
            <li role="menuitem">
              <a ui-sref="settings.profile">Profili Düzenle</a>
            </li>
            <li role="menuitem">
              <a ui-sref="settings.picture">Profil resmini değiştir</a>
            </li>
            <li role="menuitem" ng-show="authentication.user.provider === 'local'">
              <a ui-sref="settings.password">Şifre değiştir</a>
            </li>
            <li role="menuitem">
              <a ui-sref="settings.accounts">Sosyal Hesapları Yönet</a>
            </li>
            <li role="menuitem" class="divider"></li>
            <li role="menuitem">
              <a href="/api/auth/signout" target="_self">Oturumu Kapat</a>
            </li>
          </ul>
        </li>
      </ul>

    </nav>
  </div>
</div>
