<section>
  <div class="container heder">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <p class="pretitle">ONLINE DRESLER</p>
        <h2 class="pretitle" style="margin: 0px!important;" >Bu Gün Kendini Göster!</h2>
        <p>Her gün yeni şeyler öğrenin ve çevrimiçi öğrenmenin çeşitliliğinden ilham al</p>
        <a ui-sref="ders.create" class="btn btn-lg btn-warning">
          <i class="fa fa-play" aria-hidden="true"></i> İlk Dersini Bedavaya Al!</a>
      </div>
    </div>
    <ul class="rslides-header rslides">
      <li><img src="modules/core/client/img/images/header-slider/slide-1.jpg" class="resp-img" alt="Slide"></li>
      <li><img src="modules/core/client/img/images/header-slider/slide-2.jpg" class="resp-img" alt="Slide"></li>
      <li><img src="modules/core/client/img/images/header-slider/slide-3.jpg" class="resp-img" alt="Slide"></li>
    </ul>
  </div>
  <main style="padding-top: 20%">

    <div class="container featured text-center">
      <div class="col-md-4">
        <div class="feature">
          <div class="img-container-bg">
            <img src="modules/core/client/img/images/features/feature-2.png" class="make-center" alt="Feature">
          </div>
          <h6>Haritadan bakarak, En yakın öğretmeni bul!!!</h6>
          <p>Yeterki oğrenmek iste! Tüm profesionel hocalarimiz eline gelsin!</p>
          <a ui-sref="harita" class="readmore"><span>HARİTAYA BAK&nbsp;&nbsp;&nbsp;</span><i class="zmdi zmdi-long-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature">
          <div class="img-container-bg">
            <img src="modules/core/client/img/images/features/feature-3.png" class="make-center" alt="Feature">
          </div>
          <h6>Tüm cihazlarda çalışan sistem</h6>
          <p>İster bilgisayarda, ister yelefnda , ister tablette chalişan bir sistemle öğrenmeye başla</p>
          <a ui-sref="ders.list" class="readmore"><span>DERS BUl&nbsp;&nbsp;&nbsp;</span><i class="zmdi zmdi-long-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature">
          <div class="img-container-bg">
            <img src="modules/core/client/img/images/features/feature-4.png" class="make-center" alt="Feature">
          </div>
          <h6>Yeni yetenekleri öğren</h6>
          <p>Spor, Sanat, Bilgisayar, Yabanci dil ögreteblemn bir sistem. Yeniliklerden Haberdar ol!</p>
          <a ui-sref="ders.list" class="readmore"><span>HEMEN DERS ARA&nbsp;&nbsp;&nbsp;</span><i class="zmdi zmdi-long-arrow-right"></i></a>
        </div>
      </div>
    </div>

    <div class="container index-3-categories text-center">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h3>Öğretmenlerimizi keşfet</h3>
          <p>
            Sen karar ver hangi dersi kiminle alacağınin. Profesionel öğretmenlerden ögrenmeye ne dersin? Konu konu ögretmen seç! Hep bilgili kal bizimle!
          </p>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4 col-sm-6">
          <div class="category-with-bg cat1">
            <h5>Temel matematik dersler</h5>
            <p>Trigonometri konusu dahil olmak üzere temelini iyi kur!</p>
            <a ui-sref="ders.list" class="goto"><i class="zmdi zmdi-long-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="category-with-bg cat2">
            <h5>Ofis Programlari</h5>
            <p>Word, Excel temel dersleri</p>
            <a ui-sref="ders.list" class="goto"><i class="zmdi zmdi-long-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="category-with-bg cat3">
            <h5>Müzik Özel dersi</h5>
            <p>Notalari okumayı öğreneleim</p>
            <a ui-sref="ders.list" class="goto"><i class="zmdi zmdi-long-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="container pros">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
          <h3>Öğretmenlere göz at</h3>
          <p>
            Türkiyenin en iyi, profesionel öğretmenleri bizim sitededir. 10 dakika deneme suresi ile kendie uygun öğretmen seç.
          </p>
          <a href="#" class="blueplay">Göz at</a>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-2 col-sm-4 col-xs-6">
          <div class="teacher">
            <div class="imgcontainer">
              <img src="modules/core/client/img/images/avatars/1.png" alt="Avatar">
              <div class="overlay">
                <img src="modules/core/client/img/images/avatars/profile.png" alt="Profile">
                <p>8 VIDEOS</p>
              </div>
            </div>
            <a href="#">Kevin Mcfield</a>
            <p>MATEMETİK ÖĞRETMEMİ</p>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <div class="teacher">
            <div class="imgcontainer">
              <img src="modules/core/client/img/images/avatars/2.png" alt="Avatar">
              <div class="overlay">
                <img src="modules/core/client/img/images/avatars/profile.png" alt="Profile">
                <p>8 VIDEOS</p>
              </div>
            </div>
            <a href="#">Jonathan Creon</a>
            <p>WEB TASARIMCI</p>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <div class="teacher">
            <div class="imgcontainer">
              <img src="modules/core/client/img/images/avatars/3.png" alt="Avatar">
              <div class="overlay">
                <img src="modules/core/client/img/images/avatars/profile.png" alt="Profile">
                <p>8 VIDEOS</p>
              </div>
            </div>
            <a href="#">Peter Griffin</a>
            <p>İNGLİZCE DİL ÖĞRETMENİ</p>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <div class="teacher">
            <div class="imgcontainer">
              <img src="modules/core/client/img/images/avatars/4.png" alt="Avatar">
              <div class="overlay">
                <img src="modules/core/client/img/images/avatars/profile.png" alt="Profile">
                <p>8 VIDEOS</p>
              </div>
            </div>
            <a href="#">Vanessa Dilmor</a>
            <p>TİATRO ÖĞRETMENİ</p>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <div class="teacher">
            <div class="imgcontainer">
              <img src="modules/core/client/img/images/avatars/5.png" alt="Avatar">
              <div class="overlay">
                <img src="modules/core/client/img/images/avatars/profile.png" alt="Profile">
                <p>8 VIDEOS</p>
              </div>
            </div>
            <a href="#">Lydia Bennolt</a>
            <p>BİLGİSAYR ÖĞRETMENI</p>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <div class="teacher">
            <div class="imgcontainer">
              <img src="modules/core/client/img/images/avatars/6.png" alt="Avatar">
              <div class="overlay">
                <img src="modules/core/client/img/images/avatars/profile.png" alt="Profile">
                <p>8 VIDEOS</p>
              </div>
            </div>
            <a href="#">Marcus Winter</a>
            <p>FİZİK ÖĞRETMENİ</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container popular">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3>Pöpüler Ders Listesi</h3>
          <div class="scrolldown-placeholder">
            <a href="#" class="popular-scrolldown"><i class="zmdi zmdi-chevron-down zmdi-hc-lg"></i></a>
          </div>
        </div>
      </div>
      <div class="row tutorials">
        <div class="col-md-4">
          <div class="tutorial">
            <img src="modules/core/client/img/images/popular/1.jpg" class="resp-img" alt="Tutorial">
            <div class="tutorial-details">
              <h6>İkili işlemlerde Japon yöntemi</h6>
              <p><span class="lessons"><i class="zmdi zmdi-assignment"></i>12 LESSONS</span><span class="duration"><i class="zmdi zmdi-time"></i>3:15h</span></p>
              <p class="abs">İkili işlemleri Japonlarin yontemi ile hızlı ve etkili çözüm üretmeyi öğren.</p>
              <a href="#" class="greybutton">DERS DETAY</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tutorial">
            <img src="modules/core/client/img/images/popular/2.jpg" class="resp-img" alt="Tutorial">
            <div class="tutorial-details">
              <h6>8 adimda web site yapma</h6>
              <p><span class="lessons"><i class="zmdi zmdi-assignment"></i>8 LESSONS</span><span class="duration"><i class="zmdi zmdi-time"></i>4:32h</span></p>
              <p class="abs">Dünyamızda hizla gelişen web teknolocilerinre "Nasil Başlrım?" diyordan bu ders senin için!</p>
              <a href="#" class="greybutton">DERS DETAY</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tutorial">
            <img src="modules/core/client/img/images/popular/3.jpg" class="resp-img" alt="Tutorial">
            <div class="tutorial-details">
              <h6>Gitar baslangıç dersleri</h6>
              <p><span class="lessons"><i class="zmdi zmdi-assignment"></i>15 LESSONS</span><span class="duration"><i class="zmdi zmdi-time"></i>6:04h</span></p>
              <p class="abs">Gitara nasil baslarim diyorsan, gitara ilgin varsa bu derten başlaya bilirsin</p>
              <a href="#" class="greybutton">DERS DETAY</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid signup text-center">
      <div class="row">
        <div class="col-sm-12">
          <p>HERYETDE HERVAKİTTE ÖĞREN </p>
          <h4>ÖĞRENMEYE HAZIR MISIN?</h4>
          <a href="#" class="bluebutton">ŞİMDI BAŞLA</a>
        </div>
      </div>
    </div>

    <div class="container pricings">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3>FİYATLAR</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-3 col-sm-6">
          <div class="plan">
            <p class="ribbon">COK SATILAN</p>
            <p class="price">45</p>
            <p class="crew">50 KREDI</p>
            <div class="plan-details">
              <p>45 DAKİKA İÇİN 45 KREDİ </p>
              <p>ANINDA DERSE BAŞLAMA</p>
              <p>VIDE VE SESLI ANLATIM</p>
              <p>TÜM ARŞIVLERE HIZLI ERİŞİM</p>
            </div>
            <a href="#"><i class="zmdi zmdi-arrow-right"></i>10 DK ÜCRETSİZ</a>
            <a href="#"><i class="zmdi zmdi-arrow-right"></i>ŞİMDİ SATIN AL</a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="plan mostpopular">
            <p class="ribbon">PÖPÜLER</p>
            <p class="price">100</p>
            <p class="crew">120 dakika</p>
            <div class="plan-details">
              <p>İhtiyaç oldugu kadar harca</p>
              <p>ANINDA DERSE BAŞLAMA</p>
              <p>VIDE VE SESLI ANLATIM</p>
              <p>TÜM ARŞIVLERE HIZLI ERİŞİM</p>
            </div>
            <a href="#"><i class="zmdi zmdi-arrow-right"></i>10 DK ÜCRETSİZ</a>
            <a href="#"><i class="zmdi zmdi-arrow-right"></i>ŞİMDİ SATIN AL</a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="plan">
            <p class="ribbon">ÇOK PÖPÜLER</p>
            <p class="price">150</p>
            <p class="crew">200</p>
            <div class="plan-details">
              <p>45 DAKİKA İÇİN 45 KREDİ </p>
              <p>ANINDA DERSE BAŞLAMA</p>
              <p>VIDE VE SESLI ANLATIM</p>
              <p>TÜM ARŞIVLERE HIZLI ERİŞİM</p>
            </div>
            <a href="#"><i class="zmdi zmdi-arrow-right"></i>10 DK ÜCRETSİZ</a>
            <a href="#"><i class="zmdi zmdi-arrow-right"></i>ŞİMDİ SATIN AL</a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="plan">
            <p class="ribbon">EN PÖPÜLER</p>
            <p class="price">200</p>
            <p class="crew">250</p>
            <div class="plan-details">
              <p>45 DAKİKA İÇİN 45 KREDİ </p>
              <p>ANINDA DERSE BAŞLAMA</p>
              <p>VIDE VE SESLI ANLATIM</p>
              <p>TÜM ARŞIVLERE HIZLI ERİŞİM</p>
            </div>
            <a href="#"><i class="zmdi zmdi-arrow-right"></i>10 DK ÜCRETSİZ</a>
            <a href="#"><i class="zmdi zmdi-arrow-right"></i>ŞİMDİ SATIN AL</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container whyus">
      <div class="row text-center">
        <div class="col-sm-12">
          <h3>Neden bizi seçmelisiniz?</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h6>Binden fazla  öğretmenimiz mevcuttur</h6>
          <p>
            Turkiyenin, hatta dunyanin her çeşitli bolgelerinden baglanan profesionel öğretmen litemiz mevcuttur. 7/24sizinle iletişime geçebilmektedirler
          </p>
        </div>
        <div class="col-md-4">
          <h6>Profesionel öğretmenden ders alma keyfini yaşa </h6>
          <p>
            ODTU, Bilkent, Hacettepe mezun olan kaliteli öğretmelerden ders ala bilirsin.
          </p>
        </div>
        <div class="col-md-4">
          <h6>Kendi Alanında Bir Deha Ol</h6>
          <p>
            Türkiye mezunlari ders anlatir evinde!!!
          </p>
        </div>
      </div>
    </div>
  </main>
</section>
<script>
  "use strict";

  $(function() {

    $(".rslides-header").responsiveSlides({
      prevText: '<i class="zmdi zmdi-chevron-left zmdi-hc-2x text-center"></i>',
      nextText: '<i class="zmdi zmdi-chevron-right zmdi-hc-2x text-center"></i>',
      nav: true
    });

    $(".scrolldown").on("click", function(){
      $("html,body").animate({
        scrollTop: $("header").height()
      });
    });

    $(".slick-features").slick({
      slidesToShow: 5,
      prevArrow: '<i class="zmdi zmdi-chevron-left zmdi-hc-2x text-center"></i>',
      nextArrow: '<i class="zmdi zmdi-chevron-right zmdi-hc-2x text-center"></i>',
      responsive: [
        {
          breakpoint: 1200,
          settings: {
            slidesToShow: 3
          }
        },
        {
          breakpoint: 992,
          settings: {
            slidesToShow: 2
          }
        },
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 1
          }
        }]
    });

    $(".slick-testimonials").slick({
      slidesToShow: 1,
      prevArrow: '<i class="zmdi zmdi-chevron-left text-center"></i>',
      nextArrow: '<i class="zmdi zmdi-chevron-right text-center"></i>',
    });

    $(".popular-scrolldown").on("click", function(){
      $('html,body').animate({
        scrollTop: $(".tutorials").offset().top - 50
      }, 1000);
    });

    var $teacher =  $(".teacher > a");

    $teacher.hover(function(){
      $(this).siblings(".imgcontainer").find(".overlay").fadeIn();
    });

    $teacher.mouseout(function(){
      $(this).siblings(".imgcontainer").find(".overlay").fadeOut();
    });


    $("#teacher-single .tutorials").slick({
      slidesToShow: 3,
      prevArrow: '<i class="zmdi zmdi-chevron-left text-center"></i>',
      nextArrow: '<i class="zmdi zmdi-chevron-right text-center"></i>',
      responsive: [
        {
          breakpoint: 992,
          settings: {
            slidesToShow: 2
          }
        },
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 1
          }
        }]
    });

    $(".option-title").on("click", function(){
      var $parent = $(this).parent();
      $parent.addClass("opened");
      $parent.siblings().removeClass("opened");
    });

    $(".courses-side-slick").slick({
      slidesToShow: 1,
      prevArrow: '<i class="zmdi zmdi-chevron-left text-center"></i>',
      nextArrow: '<i class="zmdi zmdi-chevron-right text-center"></i>'
    });

    $(".loadmore").on("click", function(e){
      $(this).fadeOut(500);
      $(".more-categories").slideDown(700);
      $(".service-categories").animate({"margin-bottom": 0}, 700);
      e.preventDefault();
    });
  });
</script>
