<section>
  <div class="page-header">
    <h1 ng-bind="vm.reply.contentR"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.reply.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="replies.edit({ replyId: vm.reply._id })">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.reply.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.reply.user"
            ng-bind="vm.reply.user.displayName"></span>
      <span ng-if="!vm.reply.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.reply.content"></p>
</section>
