
.pros, .social, .ratings, .popular-courses, .index-3-categories{
    margin-top: 55px;
}
gm-map {
    display: block;
    width: 100%;
    height: 300px;
}
.tutorial{
    margin-bottom: 20%;
}
.on {
    color: #fdd227;
}
.rec::after{
    content: "*";
    color: #ff222c;
    display: inline-block;
    font-size: 15px;
    position: absolute;
    top: -4px;
}
.nav>li>a:focus, .nav>li>a:hover, .nav .open>a {
    background-color: transparent !important;
}
.shadows{
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.13);
}
.five-bottom{
    margin-bottom: 5%;
}
.price::before{
    content: '';
}
