<section>
  <div class="page-heading text-center">
    <div class="container">
      <h3  style="color: #0f0f0f" >DERS LİSEMİZ</h3>
    </div>
  </div>

  <div class="container popular">
    <div class="row toolbar">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
          <select class="form-control" id="sel1" ng-model="vm.search.kategoris.name">
            <option selected value="" disabled hidden>Kategori Seç</option>
            <option ng-repeat="option in vm.kategoris" value="{{option.name}}">{{option.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-10">
        <input autofocus class="form-control" ng-model="vm.search.$" type="text" placeholder="Anahtar kelime">
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
        <button class="btn btn-primary">
          <i class="fa fa-search" aria-hidden="true"></i>
          ARA</button>
      </div>
    </div>
    <div class="row tutorials">
      <div class="col-sm-3">
        <aside class="categories">
          <h6>Kategoriler</h6>
          <ul>
            <li ng-repeat="k in vm.kategoris">
              <a href ng-click="vm.search.kategoris.name = k.name">{{k.name}}</a>
            </li>
          </ul>
        </aside>
        <div class="start-today">
          <p class="price">50</p>
          <p class="readytostart">Öğrenmeye <br>başlayalım mı?</p>
          <a href="#">HEMEN BAŞLA!</a>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-md-4 col-sm-6"
               style="margin-bottom: 20px;"
               ng-repeat="der in filtered = ( vm.ders | filter:vm.search:strict ) | pagination: (vm.currentPage-1)*vm.pageSize | limitTo: vm.pageSize ">
            <div class="shadows">
              <img src="modules/core/client/img/images/popular/201.jpg" class="resp-img" alt="Tutorial">
              <div class="tutorial-details">
                <h4>{{der.name}}
                  <span class="pull-right">
                    <i class="fa fa-money" aria-hidden="true"></i>
                    {{der.price}}
                  </span>
                </h4>
                <h6><i class="zmdi zmdi-account-circle"></i> <span ng-if="der.user" ng-bind="der.user.displayName"></span>
                  <span class="lessons pull-right"><i class="zmdi zmdi-time"></i> {{der.created | date:'mediumDate'}}</span>
                </h6>
                <p class="abs" ng-bind-html="der.description | limitTo: 100 " ></p>
                <a ui-sref="ders.view({ derId: der._id })" class="btn btn-success center-block">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                  DERSİ İNCELE</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!--<div class="list-group">-->
    <!--<a ng-repeat="der in vm.ders"-->
       <!--ui-sref="ders.view({ derId: der._id })"-->
       <!--class="list-group-item">-->
      <!--<small class="list-group-item-text">-->
        <!--Posted on-->
        <!--by-->
        <!--<span ng-bind="der.created | date:'mediumDate'"></span>-->
        <!--<span ng-if="der.user" ng-bind="der.user.displayName"></span>-->
        <!--<span ng-if="!der.user">Deleted User</span>-->
      <!--</small>-->
      <!--<h4 class="list-group-item-heading" ng-bind="der.name"></h4>-->
    <!--</a>-->
  <!--</div>-->
  <div class="row">
    <div class="col-md-12 text-center">
      <div uib-pagination
        total-items="filtered.length"
        ng-model="vm.currentPage"
        items-per-page="vm.pageSize"
        max-size="5"
        boundary-link-numbers="true"
        class="pagination-md"
        previous-text="&lsaquo; Önceki "
        next-text="Sonraki &rsaquo;"
        num-pages="numPages"></div>
    </div>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.ders.$resolved && !vm.ders.length">
    Hiçbir Ders Bulunamadı <a ui-sref="ders.create">Ders Oluştur!</a>?
  </div>

  <div class="navbar-fixed-bottom pading-a" ng-if="authentication.user.roles===teacher || admin">
    <a ui-sref="ders.create" class="btn btn-danger btn-circle btn-lg pull-right"><i class="fa fa-pencil" aria-hidden="true"></i></a>
  </div>
</section>
