<section id="course-single">
  <div class="page">
    <div class="page-heading text-center">
      <div class="container">
        <h2 ng-bind="vm.der.name"></h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-xs-12">
            <gm-map center="[ vm.coords.lat, vm.coords.lng ]" zoom="vm.coords.zoom" mapTypeId="google.maps.MapTypeId.ROADMAP" >
              <gm-marker
                position="[ vm.der.coords.lat, vm.der.coords.lng ]" options="{draggable: false}"
                on-dragend="vm.coords = marker.getPosition()"
              ></gm-marker>
              <gm-marker
                position="[ vm.coordsR.lat, vm.coordsR.lng ]" options="{draggable: true, label: 'ben', icon: 'http://maps.google.com/mapfiles/ms/micons/blue.png'}"
                on-dragend="marker.getPosition()"
              ></gm-marker>
            </gm-map>
          </div>
          <a class="btn btn-success lolinside pull-right" href="http://maps.google.com/maps?saddr={{vm.coordsR.lat}},{{vm.coordsR.lng}}&daddr={{vm.der.coords.lat}},{{vm.der.coords.lng}}"  >
            <i class="fa fa-location-arrow" aria-hidden="true"></i>
            Navigasyon
          </a>
          <style>
            .lolinside{
              position: relative;
              margin-top: -50px;
              margin-right: 10%;

            }
          </style>
        </div>
        <h3 ng-bind="vm.der.name"></h3>
        <p class="class-details">
          <span class="lessons"><i class="zmdi zmdi-time"></i>
            <span ng-bind="vm.der.created | date:'mediumDate'"></span>
          </span>
          <span class="tag" ng-repeat="kn in vm.der.kategoris"><i class="zmdi zmdi-label"></i>{{kn.name}}, </span>
        </p>
        <div class="pull-right"
             ng-show="vm.der.isCurrentUserOwner">
          <a class="btn btn-primary"
             ui-sref="ders.edit({ derId: vm.der._id })">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn btn-primary" ng-click="vm.remove()">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </div>
        <h4>Ders Detayı</h4>
        <p class="abs" ng-bind-html="vm.der.description"></p>
        <!--content goes here-->

        <h4>Yorum Yaz</h4>
        <h5 ng-hide="vm.authentication.user">Yorum yapmak İçın
          <a ui-sref="authentication.signin" href="/authentication/signin">Giriş</a>
          Yap</h5>
        <form class="contact" name="vm.form.replyForm" ng-show="vm.authentication.user" ng-submit="vm.safe(vm.form.replyForm.$valid)" novalidate>
          <div class="row">
            <div class="form-group col-sm-4" show-errors>
              <label class="control-label req" for="name">İSİM</label>
              <input name="name" type="text" ng-model="vm.replyR.name" id="name" class="form-control" placeholder="İsmnizi Girin" required>
              <div ng-messages="vm.form.replyForm.name.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Yanıt adı gerekiyor.</p>
              </div>
            </div>

            <div class="form-group col-sm-4" show-errors>
              <label class="control-label req" for="email">MAİL ADRES</label>
              <input name="email" type="email" ng-model="vm.replyR.email" id="email" class="form-control" placeholder="Mail Adress Girin" lowercase required>
              <div ng-messages="vm.form.replyForm.email.$error" role="alert">
                <p class="help-block error-text" ng-message="required">E-posta adresi gerekiyor.</p>
                <p class="help-block error-text" ng-message="email">E-posta  adresi geçersiz.</p>
              </div>
            </div>
            <div class="form-group col-sm-4" show-errors>
              <label class="control-label req" for="rating">Rating</label>
              <p uib-rating ng-model="vm.replyR.rating" max="10" class="form-control" read-only="false" on-hover="vm.hoveringOver(value)" on-leave="vm.overStar = null"  aria-labelledby="default-rating"></p>
              <span class="label" ng-class="{'label-warning': vm.percent<30, 'label-info': vm.percent>=30 && vm.percent<70, 'label-success': vm.percent>=70}" ng-show="vm.overStar">{{vm.percent}}%</span>


              <input name="text" type="text" ng-model="vm.replyR.rating" id="rating" class="form-control" required>
              <div ng-messages="vm.form.replyForm.rating.$error" role="alert">
                <p class="help-block error-text" ng-message="required"> Değerlendirme gerekiyor.</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-12" show-errors>
              <label class="control-label req" for="contentR">MESAJ</label>
              <textarea rows="auto" name="contentR" id="contentR" ng-model="vm.replyR.contentR" class="form-control" placeholder="Mesaj" required>
              </textarea>
              <div ng-messages="vm.form.replyForm.name.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Yorum mesajı gerekiyor.</p>
              </div>
            </div>
          </div>

          <div class="row clearfix">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="pull-right">
                  <button type="submit" class="greybutton">GÖNDER</button>
                </div>
              </div>
              <div ng-show="vm.error" class="text-danger">
                <strong ng-bind="vm.error"></strong>
              </div>
            </div>
          </div>
        </form>



        <h4 class="text-center">YORUMLAR</h4>
        <div class="comment subcomment clearfix" ng-repeat="rep in vm.replys">
          <img ng-src="{{rep.user.profileImageURL}}" alt="{{rep.user.displayName}}" class="img-responsive img-circle pull-left">
          <a href="#">{{rep.name}}</a>
          <span class="postedon" ng-bind="rep.created | date:'mediumDate'"></span>
          <p class="abs" ng-bind="rep.contentR">
          </p>
        </div>



      </div>
      <div class="col-md-3">
        <div class="order text-center">
          <p class="price">59</p>
          <p>SAATLIK TEK FİYAT</p>
          <a href="#" class="blueplay">BU DERSİ SATIN AL</a>
          <p class="order-or"><span>OR</span></p>
          <p>ŞİMDI BAŞLAz</p>
        </div>
        <div class="pros">
          <h4>ÖĞRETMEN HAKKINDA</h4>
          <div class="teacher text-center">
            <div class="">
              <img class="img-responsive img-circle Avatar center-block" ng-src="{{vm.der.user.profileImageURL}}" alt="{{vm.der.user.displayName}}" />
            </div>
            <a href="#">
              <span ng-if="vm.der.user"
                    ng-bind="vm.der.user.displayName">
              </span>
              <span ng-if="!vm.der.user">Silinmiş Kullanıcı</span>
            </a>
            <p ng-if="vm.der.user.job"
                  ng-bind="vm.der.user.job">
            </p>
            <ul class="social">
              <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li><li>
              <a href="#"><i class="zmdi zmdi-twitter"></i></a></li><li>
              <a href="#"><i class="zmdi zmdi-google-old"></i></a></li><li>
              <a href="#"><i class="zmdi zmdi-pinterest"></i></a></li><li>
              <a href="#"><i class="zmdi zmdi-email"></i></a></li><li>
              <a href="#"><i class="zmdi zmdi-globe-alt"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="ratings">
          <h4>DERS DEĞERLENDIRMESİ</h4>
          <div class="rating">
            <a href="#" class="on"><i class="zmdi zmdi-star zmdi-hc-2x"></i></a>
            <a href="#" class="on"><i class="zmdi zmdi-star zmdi-hc-2x"></i></a>
            <a href="#" class="on"><i class="zmdi zmdi-star zmdi-hc-2x"></i></a>
            <a href="#" class="on"><i class="zmdi zmdi-star zmdi-hc-2x"></i></a>
            <a href="#"><i class="zmdi zmdi-star zmdi-hc-2x"></i></a>
          </div>
          <p>(37 YANIT, ORTALAMSI:<strong>4.8</strong> out of 5)</p>
        </div>

      </div>
    </div>
  </div>
<div class="row">
  <div class="col-xs-12">

    <h4>Default</h4>
    <span uib-rating ng-model="vm.rate" max="vm.max" read-only="vm.isReadonly" on-hover="vm.hoveringOver(value)" on-leave="vm.overStar = null"  aria-labelledby="default-rating"></span>
    <span class="label" ng-class="{'label-warning': vm.percent<30, 'label-info': vm.percent>=30 && vm.percent<70, 'label-success': vm.percent>=70}" ng-show="vm.overStar && !vm.isReadonly">{{vm.percent}}%</span>

    </div>
</div>


</section>


























