<section id="course-single">
  <div class="page">
    <div class="page-heading text-center">
      <div class="container">
        <h2 ng-bind="vm.der.name"></h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-xs-12">
            <gm-map center="[ vm.coords.lat, vm.coords.lng ]" zoom="vm.coords.zoom" mapTypeId="google.maps.MapTypeId.ROADMAP" >
              <gm-marker
                position="[ vm.der.coords.lat, vm.der.coords.lng ]" options="{draggable: false}"
                on-dragend="vm.coords = marker.getPosition()"
              ></gm-marker>
              <gm-marker
                position="[ vm.coordsR.lat, vm.coordsR.lng ]" options="{draggable: true, label: 'ben', icon: 'http://maps.google.com/mapfiles/ms/micons/blue.png'}"
                on-dragend="marker.getPosition()"
              ></gm-marker>
            </gm-map>
          </div>
          <a class="btn btn-success lolinside pull-right" href="http://maps.google.com/maps?saddr=Current+Location&daddr={{vm.der.coords.lat}},{{vm.der.coords.lng}}"  >
            <i class="fa fa-location-arrow" aria-hidden="true"></i>
            Navigasyon
          </a>
          <style>
            .lolinside{
              position: relative;
              margin-top: -50px;
              margin-right: 10%;

            }
          </style>
        </div>
        <h1>{{vm.der.name}}</h1>
        <p class="class-details">
          <span class="lessons"><i class="zmdi zmdi-time"></i>
            <span ng-bind="vm.der.created | date:'mediumDate'"></span>
          </span>
          <span class="tag" ng-repeat="kn in vm.der.kategoris"><i class="zmdi zmdi-label"></i>{{kn.name}}, </span>
        </p>
        <div class="pull-right"
             ng-show="vm.der.isCurrentUserOwner">
          <a class="btn btn-primary"
             ui-sref="ders.edit({ derId: vm.der._id })">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </a>
          <a class="btn btn-primary" ng-click="vm.remove()">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </a>
        </div>
        <h4>Ders Detayı</h4>
        <p class="abs" ng-bind-html="vm.der.description"></p>
        <!--content goes here-->

        <h4 class="text-center">YORUM YAZ</h4>
        <h5 ng-hide="vm.authentication.user">Yorum yapmak İçın
          <a ui-sref="authentication.signin" href="/authentication/signin">Giriş</a>
          Yap</h5>
        <form class="contact" name="vm.form.replyForm" ng-show="vm.authentication.user" ng-submit="vm.safe(vm.form.replyForm.$valid)" novalidate>

          <div class="row">
            <div class="col-sm-2">
              <div class="thumbnail">
                <img ng-src="{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}" class="img-responsive user-photo">
              </div><!-- /thumbnail -->
            </div><!-- /col-sm-1 -->
            <div class="col-sm-10">
              <div class="panel panel-default">
                <div class="panel-heading">
                 <div class="row" >
                   <div class="col-sm-5">
                     <strong>  {{vm.authentication.user.displayName}}  </strong>
                     <span class="text-muted" ng-bind="vm.date | date:'mediumDate'"></span>
                     <span class="label" ng-class="{'label-warning': vm.percent<30, 'label-info': vm.percent>=30 && vm.percent<70, 'label-success': vm.percent>=70}" ng-show="vm.overStar">{{vm.percent}}%</span>
                   </div>
                   <div class="col-sm-7 text-right">
                     <input name="text" type="text" ng-model="vm.replyR.rating" id="rating" class="form-control hidden" required>
                     <span style="font-size: 10px; padding-right: 10%;" class="rec" uib-rating ng-model="vm.replyR.rating" max="10" read-only="false" on-hover="vm.hoveringOver(value)" state-on="'zmdi zmdi-star zmdi-hc-2x on'" state-off="'text-muted zmdi zmdi-star zmdi-hc-2x'" on-leave="vm.overStar = null"  aria-labelledby="rating"></span>
                   </div>
                 </div>
                </div>
                <div class="panel-body"  >
                  <div class="form-group col-sm-12">
                    <label class="req" for="contentR">MESAJ</label>
                    <textarea style="min-height: 100px; max-width: 100%" name="contentR" id="contentR" ng-model="vm.replyR.contentR"  placeholder="Mesaj" required></textarea>
                    <span>
                      <button type="submit" style="position: relative; margin-top: -55px" class="btn btn-info pull-right">
                      <i class="fa fa-paper-plane" aria-hidden="true"></i>GÖNDER
                    </button>
                    </span>
                  </div>


                </div><!-- /panel-body -->
              </div><!-- /panel panel-default -->
            </div><!-- /col-sm-5 -->
          </div>
        </form>



        <h4 class="text-center">YORUMLAR</h4>
        <div class="row" ng-repeat="rep in vm.replys">
          <div class="col-sm-2 col-xs-3">
            <div class="thumbnail">
              <img ng-src="{{rep.user.profileImageURL}}" alt="{{rep.user.displayName}}" class="img-responsive user-photo">
            </div><!-- /thumbnail -->
          </div><!-- /col-sm-1 -->
          <div class="col-sm-10 col-xs-9">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-md-8">
                  <strong> {{rep.user.displayName}}</strong>
                    <span class="text-muted" ng-bind="rep.created | date:'mediumDate'"></span>
                  </div>
                  <div class="col-md-4">
                    <span class="" uib-rating ng-model="rep.rating" max="10" read-only="true" state-on="'zmdi zmdi-star on'" state-off="'zmdi zmdi-star text-muted'"></span>
                  </div>
                </div>
              </div>
              <div class="panel-body" ng-bind="rep.contentR" ></div><!-- /panel-body -->
            </div><!-- /panel panel-default -->
          </div><!-- /col-sm-5 -->
        </div>


      </div>
      <div class="col-md-3">
        <div class="order text-center" style="padding: 8%;">
          <div>
            <span class="price">{{vm.der.price}}</span>
            <br>
            <i class="fa fa-money" aria-hidden="true"></i>
            /saat
            <p>SAATLİK TEK FİYAT</p>
          </div>
          <p class="order-or"><span>VEYA</span></p>
          <div>
            <span class="price">{{vm.der.price/60 | number : 2}}</span>
            <br>
            <i class="fa fa-money" aria-hidden="true"></i>
            /dakika
            <p>DAKIKA FİYATI</p>
          </div>
          <a href="tel:{{vm.der.user.tel}}" class="btn btn-success">
            <i class="fa fa-phone" aria-hidden="true"></i>
            HEMEN ARA
          </a>
        </div>
        <div class="pros">
          <h4>ÖĞRETMEN HAKKINDA</h4>
          <div class="teacher text-center">
            <div class="">
              <img class="img-responsive img-circle Avatar center-block" ng-src="{{vm.der.user.profileImageURL}}" alt="{{vm.der.user.displayName}}" />
            </div>
            <a href="#">
              <span ng-if="vm.der.user"
                    ng-bind="vm.der.user.displayName">
              </span>
              <span ng-if="!vm.der.user">Silinmiş Kullanıcı</span>
            </a>
            <p ng-if="vm.der.user.job"
                  ng-bind="vm.der.user.job">
            </p>
            <ul class="social">
              <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li><li>
              <a href="#"><i class="zmdi zmdi-twitter"></i></a></li><li>
              <a href="#"><i class="zmdi zmdi-google-old"></i></a></li><li>
              <a href="#"><i class="zmdi zmdi-pinterest"></i></a></li><li>
              <a href="#"><i class="zmdi zmdi-email"></i></a></li><li>
              <a href="#"><i class="zmdi zmdi-globe-alt"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="ratings" ng-show="vm.replys.length">
          <h4>DERS DEĞERLENDIRMESİ</h4>
          <div class="rating">
            <span style="font-size: 10px; padding-right: 10%;"  uib-rating ng-model="vm.avar" max="10" read-only="true"  state-on="'zmdi zmdi-star zmdi-hc-2x on'" state-off="'text-muted zmdi zmdi-star zmdi-hc-2x'" aria-labelledby="rating"></span>
          </div>
          <p>({{vm.replys.length}} YANIT, ORTALAMSI: 10 ÜZERİ <strong>{{vm.avar | number : 1}}</strong>)</p>
        </div>

      </div>
    </div>
  </div>
</section>


























