<div ng-controller="AuthenticationController">
  <h3 class="col-md-12 text-center">Veya e-postanızı kullanarak kaydolun</h3>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <form name="userForm" ng-submit="signup(userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">İsim</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="credentials.firstName" placeholder="First Name" required>
          <div ng-messages="userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">İsim gerekiyor.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">Soyadı</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="credentials.lastName" placeholder="Last Name" required>
          <div ng-messages="userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Soyadı gerekiyor.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">Mail</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="credentials.email" placeholder="Email" lowercase required>
          <div ng-messages="userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">E-posta adresi gerekiyor.</p>
            <p class="help-block error-text" ng-message="email">E-posta adresi geçersiz</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="roles">Rol Seçin</label>
          <select id="roles" name="roles" class="form-control" ng-model="credentials.roles" required>
            <option value="teacher">Öğretmen</option>
            <option value="student" ng-selected="true">Öğrenci</option>
          </select>
          <div ng-messages="userForm.roles.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Öğretmen yada öğrenici rolü seçin!</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="tel">Telefon</label>
          <input type="tel" id="tel" name="tel" class="form-control" ng-model="credentials.tel" placeholder="Cep Numara" lowercase required>
          <div ng-messages="userForm.tel.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Numara gerekiyor.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="okul">Okul</label>
          <input type="text" id="okul" name="okul" class="form-control" ng-model="credentials.okul" placeholder="Üniversite veya Okul İsmi" lowercase required>
          <div ng-messages="userForm.okul.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Üniversite veya Okul İsmi gerekiyor.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="username">Kullanıcı adı</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" lowercase required>
          <div ng-messages="userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Kullanıcı adı girilmesi zorunludur.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="password">Parola</label>
            <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Parola" popover="{{popoverMsg}}" popover-trigger="focus" password-validator required>
          <div ng-messages="userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Şifre gereklidir.</p>
            <div ng-repeat="passwordError in passwordErrors">
              <p class="help-block error-text" ng-show="userForm.password.$error.requirements">{{passwordError}}</p>
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="!userForm.password.$error.required">
          <label>Parola Gereksimleri</label>
          <progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></progressbar>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Kaydol</button>
          &nbsp; Vaya &nbsp;
          <a ui-sref="authentication.signin" class="show-signup">Oturum Aç</a>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</div>
